@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline-2 {
        -webkit-text-stroke: 2px black;
    }
    .font-outline-4 {
        -webkit-text-stroke: 4px black;
    }
}
.no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.modal {
    @apply fixed z-10 bg-black bg-opacity-40 rounded-md top-0 bottom-0 right-0 left-0 flex items-center justify-center;
}
.modal-container {
    @apply px-[60px] py-10 bg-white rounded-lg;
}

body {
    margin: 0;
}
